[Unit]
Description=burgundy Server
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/burgundy
ExecStart=/opt/burgundy/burgundy

User=root
Group=root


[Install]
WantedBy=multi-user.target
